<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>心思的个人网站</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">大数据</a>
    </div>
    <div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">iOS</a></li>
            <li><a href="#">ANDROID</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Java
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">Spring</a></li>
                    <li><a href="#">EJB</a></li>
                    <li><a href="#">Jasper Report</a></li>
                    <li class="divider"></li>
                    <li><a href="#">分离的链接</a></li>
                    <li class="divider"></li>
                    <li><a href="#">另一个分离的链接</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="nav navbar-right">
        {% if name is None %}
        <ul class="nav navbar-nav">
            <li><a href="/toLogin/">登录</a></li>
            <li><a href="/toRegister/">注册</a></li>
        </ul>
        {% else %}
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ name }}<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#">个人主页</a></li>
                    <li><a href="#">修改密码</a></li>
                    <li><a href="#">注销</a></li>
                </ul>
            </li>
        </ul>
        {% endif %}

    </div>
    </div>
</nav>

<div class="container">
	<h2>测试数据</h2>
	<p> .table-striped 类在 tbody 内添加斑马线形式的条纹 ( IE8 不支持):</p>
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
                {% for key in keys %}
				<th>{{ key }}</th>
                {% endfor %}
			</tr>
		</thead>
		<tbody>
        {% for user in userdata %}
			<tr>
                {% comment %}{% for data in user %}
				<td>{{  data }}</td>
                {% endfor %}{% endcomment %}
               <td>{{  user.0 }}</td>
               <td>{{  user.1 }}</td>
               <td>{{  user.2 }}</td>
			</tr>
        {% endfor %}
		</tbody>
	</table>
</div>
</body>
</html>